@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Heebo:wght@700;800;900&family=Poppins:wght@600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* splash screen */
body{
    background: black;
    width: 100%;
    height: 100vh;
    display: block;
    font-family: 'Poppins', sans-serif;
}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logoImg{
    position: relative;
    bottom: -20px;
    opacity: 0;
}

.logoImg.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

.logoImg.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 1s;
}


.container{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 100vh;
    display: block;
    margin: 0 auto;
    background: url("imagens/fundo-galaxy.png");
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center;
}

.containerLogo{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.containerLogo img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 400px;
}

.contador{
    background: url("imagens/bg-spaceman-02.png");
    /*background-position: center;*/
    background-size: cover;
    height: 500px;
    width: 100%;
    display: block;
    position: relative;
    top: 30%;
    border: 1px solid #41095b;
    margin: 0 auto;
    max-width: 300px;
    box-shadow: 0 0 10px #41095b;
}

.spanCounter{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 5px;
    color: orange;
    box-shadow: 0 0 10px purple;
    background: url("imagens/fundo-galaxy.png");
    background-position: center;
}

.spanCounter > span{
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 25px;
    color: white;
}

.spanCounter > span.fade{
    opacity: 0;
    transition: .4s;
}

.spaceCounter{
    display: none;
    position: absolute;
    width: 100%;
    top: 20%;
}

.spaceCounter.active{
    opacity: 1;
    transition: ease-in-out 1s;
}

.spaceCounter.fade{
    opacity: 0;
    transition: ease-in-out 1s;
}

.counter{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: none;
    position: relative;
    top: 30%;
    font-size: 70px;
    border-radius: 5px;
    color: yellow;
    text-shadow: 0 0 10px black;
    animation: grow 2s ease-in-out infinite;

}

.spaceMoon{
    display: block;
    position: absolute;
    width: 70%;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
}

.spaceDude{
    display: none;
    position: absolute;
    width: 100%;
    top: 20%;
}

.spaceDude.active{
    opacity: 1;
    transition: ease-in-out 1s;
}

.spaceDude.fade{
    opacity: 0;
    transition: ease-in-out 1s;
}

.iframe{
    width: 100%;
    display: block;
    position: relative;
    top: 37%;
}

iframe{
    border: 0;
    width: 100%;
    height: 600px;
}

/*.spaceMoon.active{*/
/*    opacity: 1;*/
/*    transition: ease-in-out 1s;*/
/*}*/

/*.spaceMoon.fade{*/
/*    opacity: 0;*/
/*    transition: ease-in-out 1s;*/
/*}*/

.buttonCount{
    width: 80%;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 80%;
    transform: translateX(-50%);
    left: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 0 green;
    background: #5bd15b;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.buttonCount:disabled{
    background: grey;
    box-shadow: 0 7px 0 darkgrey;
    transition: all .3s;
    color: white;
    font-size: 18px;
}

.buttonCount:active{
    top: 76%;
    box-shadow: 0 2px 0px #579638;
    transition: all .3s;
}

.buttonCount:active:disabled{
    top: 76%;
    box-shadow: 0 7px 0 darkgrey;
}

@keyframes grow {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

@media (min-width: 450px) {
  .containerLogo img{
    width: 100%;
  }
}

